/* .root{
  --static_white: white;
  --static_balck: black;
  --white_black: white;
  --black_white: black;
  --white_shadow_color: rgba(0, 0, 0, 0.25); 
  --black_shadow_color: rgba(0, 0, 0, 0.25); 
} */
*:focus{
  outline: none;
}
html{
  scroll-behavior: smooth;
}
/* body{
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
  letter-spacing: 3px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
@media (min-width: 412px) {
  .container {
     padding-left: 55px; /*when side bar is closed */
  }
}


/* =========================== Classes: */
.p-4{
  padding: 4px;
}
.p-5{
  padding: 5px;
}
.p-8{
  padding: 8px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.p-25{
  padding: 20px;
}
.pt-4{
  padding-top: 4px;
}
.pt-5{
  padding-top: 5px;
}
.pt-8{
  padding-top: 8px;
}
.pt-10{
  padding-top: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pt-20{
  padding-top: 20px;
}
.pt-25{
  padding-top: 20px;
}
.pr-5{
  padding-right: 5px;
}
.pr-10{
  padding-right: 10px;
}
.pr-15{
  padding-right: 15px;
}
.pr-20{
  padding-right: 20px;
}
.pr-25{
  padding-right: 25px;
}
.pl-4{
  padding-left: 4px;
}
.pl-5{
  padding-left: 5px;
}
.pl-8{
  padding-left: 8px;
}
.pl-10{
  padding-left: 10px;
}
.pl-15{
  padding-left: 15px;
}
.pl-20{
  padding-left: 20px;
}
.pl-25{
  padding-left: 25px;
}
.pb-4{
  padding-bottom: 4px;
}
.pb-5{
  padding-bottom: 5px;
}
.pb-8{
  padding-bottom: 8px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-25{
  padding-bottom: 25px;
}

.m-0{
  margin: 0px;
}
.m-4{
  margin: 4px;
}
.m-5{
  margin: 5px;
}
.m-8{
  margin: 8px;
}
.m-10{
  margin: 10px;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
.m-25{
  margin: 20px;
}
.mt-0{
  margin-top: 0px;
}
.mt-4{
  margin-top: 4px;
}
.mt-5{
  margin-top: 5px;
}
.mt-8{
  margin-top: 8px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 20px;
}
.mr-5{
  margin-right: 5px;
}
.pr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mr-20{
  margin-right: 20px;
}
.mr-25{
  margin-right: 25px;
}
.ml-4{
  margin-left: 4px;
}
.ml-5{
  margin-left: 5px;
}
.ml-8{
  margin-left: 8px;
}
.ml-10{
  margin-left: 10px;
}
.ml-15{
  margin-left: 15px;
}
.ml-20{
  margin-left: 20px;
}
.ml-25{
  margin-left: 25px;
}
.mb-0{
  margin-bottom: 0px;
}
.mb-4{
  margin-bottom: 4px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-25{
  margin-bottom: 25px;
}

.bg-eee{
  background-color: #eee;
}
.bg-white{
  background-color: var(--static_white);
}
.bg-black{
  background-color: var(--static_balck);
}
.bg-white-black{
  background-color: white;
}
.bg-black-white{
  background-color: white;
}
.c-white{
  color: white;
}
.c-black{
  color: black;
}
.c-white{
  color: var(--white_black);
}
.c-black-white{
  color: var(--black_white);
}

/* ============= border radius  */
.b-rad-10{
  border-radius: 10px;
}
.b-rad-5{
  border-radius: 5px;
}
.b-rad-15{
  border-radius: 15px;
}
.b-rad-20{
  border-radius: 20px;
}




/* ======== displays: */
/* flex */
.d-flex{
  display: flex;
}
.fd-c{
  flex-direction: column;
}
.fd-r{
  flex-direction: row;
}

/* grid */
.d-grid{
  display: grid;
}
.gaf-250{
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.gaf-300{
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gaf-350{
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
/* block */
.d-block{
  display: block;
}

/* none */
.d-none{
  display: none;
}
/* =========== Positioning: */
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-fixed{
  position: fixed;
}
.p-sticky{
  position: sticky;
}
.p-static{
  position: static;
}


/* ================txt  */
.txt-c{
  text-align: center;
}
.txt-start{
  text-align: start;
}
.txt-end{
  text-align: end;
}
.txt-t-cap{
  text-transform: capitalize;
}


/* ============font size  */
.fs-10{
  font-size: 10px;
}
.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px;
}
.fs-18{
  font-size: 18px;
}
.fs-20{
  font-size: 20px;
}

/* ================= font weight  */
.fw-200{
  font-weight: 200;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fw-900{
  font-weight: 900;
}


/* start Components  */

.between-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.around-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.evenly-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.auto-fill-grid3200{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.auto-fill-grid-250{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.auto-fill-grid-350{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.auto-fill-grid-400{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}